# LF line endings on repository, OS native locally
* text=auto
*.java text

# Binary files that should not be modified
*.dat binary
*.db binary
*.gif binary
*.jpg binary
*.png binary
*.ttf binary
*.wav binary
